@using TimeOnion.Domain.Todo.List
@using TimeOnion.Actions
@inherits BlazorState.BlazorStateComponent

@if (Item is not null)
{
    <div class="task">
        <div class="d-flex">
            <MudMenu
                Class="overlay-menu"
                Icon="@Icons.Material.Filled.MoreHoriz"
                Size="Size.Small"
                AnchorOrigin="Origin.BottomLeft"
                TransformOrigin="Origin.TopRight">

                @if (NextTimeHorizons != CurrentTimeHorizons)
                {
                    <MudMenuItem
                        Icon="@Icons.Material.Filled.Redo"
                        OnClick="() => Reschedule(Item.ListId, Item.Id, NextTimeHorizons)">
                        Reporter à @NextTimeHorizons.ToText().ToLower()
                    </MudMenuItem>
                }

                @if (PreviousTimeHorizons != CurrentTimeHorizons)
                {
                    <MudMenuItem
                        Icon="@Icons.Material.Filled.Undo"
                        OnClick="() => Reschedule(Item.ListId, Item.Id, PreviousTimeHorizons)">
                        Avancer à @PreviousTimeHorizons.ToText().ToLower()
                    </MudMenuItem>
                }

                <MudMenuItem
                    Icon="@Icons.Material.Filled.Delete"
                    IconColor="Color.Warning"
                    OnClick="() => Delete(Item.ListId, Item.Id)">
                    Supprimer
                </MudMenuItem>

            </MudMenu>

            <MudCheckBox
                T="bool"
                Checked="Item.IsDone"
                CheckedChanged="isChecked => isChecked ? MarkItemAsDone(Item.ListId, Item.Id) : MarkAsToDo(Item.ListId, Item.Id)"
                Class="compact"
                Color="Color.Primary">
            </MudCheckBox>

            <MudTextField
                T="string"
                Class="@(Item.IsDone ? "compact done" : "compact")"
                InputMode="InputMode.text"
                Text="@Item.Description"
                TextChanged="text => FixItemDescription(Item.ListId, Item.Id, text)"
                DisableUnderLine="true">
            </MudTextField>
        </div>
    </div>
}

<style>
    .done .mud-input input {
        text-decoration: line-through;
        color: #B4B4B4;
        font-style: italic;
    }
    
    .overlay-menu {
        opacity: 0;
    }
    
    .task:hover .overlay-menu {
        opacity: 0.7;
    }
</style>

@code {

    [Parameter]
    public TodoListItemReadModel? Item { get; set; }

    private TimeHorizons NextTimeHorizons => CurrentTimeHorizons.Next();

    private TimeHorizons PreviousTimeHorizons => CurrentTimeHorizons.Previous();

    private TimeHorizons CurrentTimeHorizons => GetState<TodoListState>().CurrentTimeHorizons;

    private async Task FixItemDescription(TodoListId listId, TodoItemId itemId, string newValue) => await Mediator.Send(new TodoListState.FixItemDescription(listId, itemId, newValue));

    private async Task MarkItemAsDone(TodoListId listId, TodoItemId itemId) => await Mediator.Send(new TodoListState.MarkItemAsDone(listId, itemId));

    private async Task MarkAsToDo(TodoListId listId, TodoItemId itemId) => await Mediator.Send(new TodoListState.MarkItemAsToDo(listId, itemId));

    private async Task Reschedule(TodoListId listId, TodoItemId itemId, TimeHorizons timeHorizons) => await Mediator.Send(new TodoListState.RescheduleTodoItem(listId, itemId, timeHorizons));

    private async Task Delete(TodoListId listId, TodoItemId itemId) => await Mediator.Send(new TodoListState.DeleteItem(listId, itemId));

}