@using TimeOnion.Domain.Categories
@using BlazorState
@inherits BlazorStateComponent

@if (Category is not null)
{
    <div class="overlay-parent d-flex gap-1 align-center">
        <CategoryActionsComponent
            Class="invisible overlay d-none d-md-flex"
            Category="@Category">
        </CategoryActionsComponent>

        <MudIcon
            Icon="@Icons.Material.Filled.Folder"
            Color="Color.Primary"
            Size="Size.Large">
        </MudIcon>

        <TextEditor
            Text="@Category.Name"
            TextChanged="@(text => Send(new TodoListState.RenameCategory(Category.Id, text, Category.ListId)))"
            EnterPressed="@(() => Send(new TodoListState.InsertNewItemToDoOnTopOfCategory(Category.ListId, Category.Id)))">
        </TextEditor>

        <CategoryActionsComponent
            Class="d-flex d-md-none"
            Category="@Category">
        </CategoryActionsComponent>
    </div>
}

@code {

    [Parameter]
    public CategoryReadModel? Category { get; set; }

    private Task Send(IAction action) => Mediator.Send(action);
}