@using TimeOnion.Domain.Todo.Core
@using TimeOnion.Domain.Todo.UseCases
@using TimeOnion.Pages.TodoListPage.Actions.Details
@using BlazorState
@inherits BlazorStateComponent

@if (Item is not null)
{
    <div class="d-flex gap-1 align-top overlay-parent">
        @if (Item.CategoryId is not null)
        {
            <div class="ml-12 mr-1 border-l-2 border-dotted mud-border-primary d-none d-md-flex"></div>
            <div class="ml-4 mr-2 border-l-2 border-dotted mud-border-primary d-flex d-md-none"></div>
        }
        <MudMenu
            UserAttributes="@(new Dictionary<string, object> { { "draggable", "true" } })"
            Class="invisible overlay align-self-start d-none d-md-flex"
            Icon="@Icons.Material.Filled.MoreHoriz"
            Size="Size.Small"
            AnchorOrigin="Origin.BottomCenter">

            @if (NextTimeHorizons != CurrentTimeHorizons)
            {
                <MudMenuItem
                    Icon="@Icons.Material.Filled.Redo"
                    OnClick="() => Send(new TodoListState.RescheduleTodoItem(Item.ListId, Item.Id, NextTimeHorizons))">
                    Reporter à @NextTimeHorizons.ToText().ToLower()
                </MudMenuItem>
            }

            @if (PreviousTimeHorizons != CurrentTimeHorizons)
            {
                <MudMenuItem
                    Icon="@Icons.Material.Filled.Undo"
                    OnClick="() => Send(new TodoListState.RescheduleTodoItem(Item.ListId, Item.Id, PreviousTimeHorizons))">
                    Avancer à @PreviousTimeHorizons.ToText().ToLower()
                </MudMenuItem>
            }

            <MudMenuItem
                Icon="@Icons.Material.Filled.Delete"
                IconColor="Color.Warning"
                OnClick="() => Send(new TodoListState.DeleteItem(Item.ListId, Item.Id))">
                Supprimer
            </MudMenuItem>

        </MudMenu>

        <MudCheckBox
            T="bool"
            UserAttributes="@(new Dictionary<string, object> { { "draggable", "true" } })"
            Checked="Item.IsDone"
            CheckedChanged="isChecked => isChecked ? Send(new TodoListState.MarkItemAsDone(Item.ListId, Item.Id)) : Send(new TodoListState.MarkItemAsToDo(Item.ListId, Item.Id))"
            Class="compact"
            Color="Color.Primary">
        </MudCheckBox>


        <TextEditor
            @ref="_textEditor"
            Text="@Item.Description"
            TextChanged="async text => await Send(new TodoListState.EditItemDescription(Item.ListId, Item.Id, text))"
            EnterPressed="newDescription => Send(new TodoListState.AddNewItemTodoAfterItem(Item.ListId, Item.Id, newDescription))"
            DeletionTriggered="() => Send(new TodoListState.DeleteItem(Item.ListId, Item.Id))"
            IsStrikeThrough="@Item.IsDone">
        </TextEditor>
    </div>
}

@code {

    TextEditor _textEditor = default!;

    [Parameter]
    public TodoListItemReadModel? Item { get; set; }

    private TimeHorizons NextTimeHorizons => CurrentTimeHorizons.Next();

    private TimeHorizons PreviousTimeHorizons => CurrentTimeHorizons.Previous();

    private TimeHorizons CurrentTimeHorizons => GetState<TodoListState>().CurrentTimeHorizon;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (Item is TodoListItemReadModelBeingCreated)
        {
            await _textEditor.Focus();
        }
    }

    private Task Send(IAction action) => Mediator.Send(action);

}